:root{
    --primario: #5993B8 ;
    --primarioocuro: #34618B;
    --secundario:#8C8C8C;
    --secundarioscuro:#202328;
    --secundarioscurotext: #FDEDC1;
    --blanco:#FFF;
    --negro:#000;
    --fondoclaro:#484E54;
    --fondooscuro:#151718;

    --fuentePrincipal:'staatliches', cursive;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;  /*Hack para Model Box*/
}

*, *::before, *::after{
    box-sizing: inherit;
}
/*Globales*/
body{
    background-image: linear-gradient(to top, var(--fondooscuro), var(--fondoclaro)60%);
    background-image: linear-gradient(to right, var(--fondooscuro), var(--fondoclaro)60%);
    font-size: 1.6rem;
    line-height: 1.5;
}

p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color:var(--blanco);
}
li{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color:var(--blanco);
}

a{
    text-decoration: none;
}
img{
    width: 100%;
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
h1, h2, h3{
    text-align: center;/*alinear a cero*/
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}
.oscuroletra{
    color:var(--secundario)
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 3.2rem;
}
h3{
    font-size: 2.4rem;
}

.centrar-texto{
    text-align: center;
}
.color-link{
    color: var(--blanco);
}
/*Header*/
.header{
    display: flex;
    justify-content: center;
}

.header__logo{
    max-width: 16rem;
    margin: 1px 0 3px 0;
}
/*Footer*/
.footer{
    background-color: var(--primarioocuro);
    padding: 1rem 0;
    margin-top: 2rem;
}
.footer__texto{
    text-align: center;
    font-family: var(--fuentePrincipal);
    font-size: 2.2rem;
}
/**Navegacion**/
.navegacion{
    background-color: var(--primarioocuro);
    padding: 1rem 0;
    display: flex;
    justify-content:center;
    gap: 3rem;
}
.navegacion__enlace{
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 3rem;
}
.navegacion__enlace--activo,
.navegacion__enlace:hover{
    color: var(--secundario);
}

/**GRID**/

.grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}
@media (min-width: 500px) {
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
}
.grid2{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}
@media (min-width: 768px) {
    .grid2{
        grid-template-columns: repeat(2, 1fr);
    }
}
.grids{
    margin: 1rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}

/**Productos**/
.producto{
    background-color: var(--secundarioscuro);
    padding: 1rem;
}

.producto__nombre{
    font-size: 4rem;
}
.producto__precio{
    font-size: 2.8rem;
    color: var(--secundarioscurotext);
}
.producto__precio, .producto__nombre{
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}

/**GRAFICOS**/

/*.grafico{
    min-height: 30rem;
    background-repeat: none;
    background-size: cover;
    grid-column: 1/3;
}
.grafico--camisas{
    grid-row: 2/3;
    background-image: url(../img/grafico1.jpg);
}
/*.grafico--node{
    background-image: url(../img/grafico2.jpg);
    grid-row: 8/9;
}
@media (min-width: 768px) {
    .grafico--node{
        grid-row: 5/6;
        grid-column: 2/4;
    }
}*/

/**NOSOTROS**/
.nosotros{
    display: grid;
    grid-template-rows: repeat(2, auto);
}
@media (min-width: 768px) {
    .nosotros{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    }
}
.nosotros__contenido{

}
.nosotros__imagen{
   grid-row: 1/2;
}
@media (min-width: 768px) {
    .nosotros__imagen{
        grid-column:2/3;
    }
}
/**BLOQUES**/

.bloques{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) {
    .bloques{
    grid-template-columns: repeat(4, 1fr);
   }
}

.bloque{
    text-align: center;
}

.bloque_titulo{
    margin: 0;
}

/**Pagina del producto**/
@media (min-width: 768px) {
    .camisa{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}
.formulario{
    display: grid;
    grid-template-columns: 100%;
    gap: 2rem;

}
@media (min-width: 500px) {
    .formulario{
    display: grid;
    grid-template-columns: 30%;
    gap: 2rem;
}
}
.formulario__campo{
    border: 1rem solid var(--primarioocuro);
    background-color: transparent;
    color: var(--blanco);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    appearance: none;
}
.formulario__submit{
    background-color: var(--secundario);
    border: none;
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    padding: 2rem;
    transition: background-color .2s ease;
    grid-column: 1/3;
    border-radius: .5rem;
    max-width: 95%;
}
.formulario__submit:hover{
    cursor: pointer;
    background-color: var(--secundarioscuro);
}
.camisa__contenido{
    margin: 15px;
}